html, body, .contenido-principal{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 auto;
}

.nav-arriba {
	padding: 5px;
}

.row{
	margin: 0;
}

.div-top{
	background: black;
}

.nav-link{
	color:white;
}

.nav-izq{
	padding: 0;
	background: black;
}

.nav-izq-link:hover{
	color: black;
}

.nav-izq-item{
	background: #3D8BCD;
}



.container{
	margin: 0;
	padding: 0;
	width: 100%;
	min-height: 100%;
}

.contenido-principal{
	margin-top: 30px;
}

.datos-profesor-item{
	padding: 10px;
	margin-left: 30px;
}

.cronometro{
	display: flex;
	flex-direction: column;
	/* width: 540px;
	height: 115px; */
}
.reloj{
	display: flex;
	margin: 0 auto;
	/*float: left;*/
	font-size: 80px;
	/*	font-family: Courier,sans-serif;*/
	color: #363431;
}

.botones
{
	display: flex;
	margin: 0 auto;
}
.boton{
	margin: 3px;
	margin-top: 30px;
	outline: none;
	border: 1px solid #363431;
	color: white;
	width: 128px;
	height: 57px;
	text-shadow: 0px -1px 1px black;
	font-size: 20px;
	border-radius: 5px;
	font-family: Helvetica;
	cursor: pointer;
	background: #5f5a58;
}
.boton:active{
	background: white;
	color: black;
}
.boton:hover{
	box-shadow: 0px 0px 14px black;
}

.botonesCronometro{
	margin: 3px;
	cursor: pointer;
	font-size: 20px;
}

.botonesCronometro:disabled{
	background: #5f5a58;
	border: 0px;
}

.login-opciones{
	padding: 10px;
}

.login-body{
	background: black;
}

.login-container{
	background: #3D8BCD;
	color: white;
	text-decoration: none;
	margin: auto;
}

